.hero-section {
  position: relative;
  width: 100%;
  height: 60vh; /* Tinggi bisa disesuaikan */
  background-image: url('/src/shared/images/bg.jpg'); /* Ganti dengan gambar latar Anda */
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 92, 92, 0.7); /* Overlay brand.600 dengan opacity */
}